<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.fire.platform.modules.building.dao.KeypartMapper">

    <select id="selectAll" resultMap="Keypart">
        SELECT A.* FROM KEYPART A
        <if test="extraOrderColumns != null and extraOrderColumns !=''">
            ORDER BY ${extraOrderColumns}
        </if>
    </select>

    <select id="selectByMap" resultMap="Keypart" parameterType="map">
        SELECT A.* FROM KEYPART A
        <where>
            <include refid="queryCondition" />
        </where>
        <if test="extraOrderColumns != null and extraOrderColumns !=''">
            ORDER BY ${extraOrderColumns}
        </if>
    </select>


    <select id="selectByParam" resultMap="Keypart"
        parameterType="org.fire.platform.modules.building.domain.Keypart">
        SELECT A.* FROM KEYPART A
        <where>
            <include refid="queryCondition" />
        </where>
        <if test="extraOrderColumns != null and extraOrderColumns !=''">
            ORDER BY ${extraOrderColumns}
        </if>
    </select>

    <select id="selectByPrimaryKey" resultMap="Keypart"
        parameterType="org.fire.platform.modules.building.domain.Keypart">
        SELECT A.* FROM KEYPART A
        WHERE id=#{id,jdbcType=NUMERIC}
    </select>

    <update id="updateByPrimaryKey">
        UPDATE KEYPART
        <set>
            <if test="buildingId != null">
                building_id = #{buildingId,jdbcType=NUMERIC},
            </if>
            <if test="managementId != null">
                management_id = #{managementId,jdbcType=NUMERIC},
            </if>
            <if test="keypartName != null">
                keypart_name = #{keypartName,jdbcType=VARCHAR},
            </if>
            <if test="position != null">
                position = #{position,jdbcType=VARCHAR},
            </if>
            <if test="floor != null">
                floor = #{floor,jdbcType=VARCHAR},
            </if>
            <if test="area != null">
                area = #{area,jdbcType=NUMERIC},
            </if>
            <if test="fireEquipment != null">
                fire_equipment = #{fireEquipment,jdbcType=VARCHAR},
            </if>
            <if test="anotherPart != null">
                another_part = #{anotherPart,jdbcType=VARCHAR},
            </if>
            <if test="dutyNum != null">
                duty_num = #{dutyNum,jdbcType=NUMERIC},
            </if>
            <if test="diplomaNum != null">
                diploma_num = #{diplomaNum,jdbcType=NUMERIC},
            </if>
            <if test="firePumpNum != null">
                fire_pump_num = #{firePumpNum,jdbcType=NUMERIC},
            </if>
            <if test="sprayPumpNum != null">
                spray_pump_num = #{sprayPumpNum,jdbcType=NUMERIC},
            </if>
            <if test="pressurePumpNum != null">
                pressure_pump_num = #{pressurePumpNum,jdbcType=NUMERIC},
            </if>
            <if test="airTankVolume != null">
                air_tank_volume = #{airTankVolume,jdbcType=NUMERIC},
            </if>
            <if test="storageArea != null">
                storage_area = #{storageArea,jdbcType=NUMERIC},
            </if>
            <if test="oilVolume != null">
                oil_volume = #{oilVolume,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="modDate != null">
                mod_date = #{modDate,jdbcType=TIMESTAMP},
            </if>
            <if test="createDate != null">
                create_date = #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="userId != null">
                user_id = #{userId,jdbcType=NUMERIC},
            </if>
            <if test="extraUpdateColumns != null and extraUpdateColumns !=''">
                ${extraUpdateColumns}
            </if>
        </set>
        WHERE id=#{id,jdbcType=NUMERIC}
    </update>

    <delete id="deleteByPrimaryKey">
        DELETE FROM KEYPART
        WHERE id=#{id,jdbcType=NUMERIC}
    </delete>

    <delete id="deleteByParam">
        DELETE FROM KEYPART WHERE
        <trim prefixOverrides="AND">
            <if test="id!=null">
                AND id=#{id,jdbcType=NUMERIC}
            </if>
            <if test="buildingId!=null">
                AND building_id=#{buildingId,jdbcType=NUMERIC}
            </if>
            <if test="managementId!=null">
                AND management_id=#{managementId,jdbcType=NUMERIC}
            </if>
            <if test="keypartName!=null and  keypartName !=''">
                <if test="keypartName!=null">
                    AND keypart_name=#{keypartName,jdbcType=VARCHAR}
                </if>
            </if>
            <if test="position!=null and  position !=''">
                <if test="position!=null">
                    AND position=#{position,jdbcType=VARCHAR}
                </if>
            </if>
            <if test="floor!=null and  floor !=''">
                <if test="floor!=null">
                    AND floor=#{floor,jdbcType=VARCHAR}
                </if>
            </if>
            <if test="area!=null">
                AND area=#{area,jdbcType=NUMERIC}
            </if>
            <if test="fireEquipment!=null and  fireEquipment !=''">
                <if test="fireEquipment!=null">
                    AND fire_equipment=#{fireEquipment,jdbcType=VARCHAR}
                </if>
            </if>
            <if test="anotherPart!=null and anotherPart !=''">
                <if test="anotherPart!=null">
                    AND another_part=#{anotherPart,jdbcType=VARCHAR}
                </if>
            </if>
            <if test="dutyNum!=null">
                AND duty_num=#{dutyNum,jdbcType=NUMERIC}
            </if>
            <if test="diplomaNum!=null">
                AND diploma_num=#{diplomaNum,jdbcType=NUMERIC}
            </if>
            <if test="firePumpNum!=null">
                AND fire_pump_num=#{firePumpNum,jdbcType=NUMERIC}
            </if>
            <if test="sprayPumpNum!=null">
                AND spray_pump_num=#{sprayPumpNum,jdbcType=NUMERIC}
            </if>
            <if test="pressurePumpNum!=null">
                AND pressure_pump_num=#{pressurePumpNum,jdbcType=NUMERIC}
            </if>
            <if test="airTankVolume!=null">
                AND air_tank_volume=#{airTankVolume,jdbcType=NUMERIC}
            </if>
            <if test="storageArea!=null">
                AND storage_area=#{storageArea,jdbcType=NUMERIC}
            </if>
            <if test="oilVolume!=null and  oilVolume !=''">
                <if test="oilVolume!=null">
                    AND oil_volume=#{oilVolume,jdbcType=VARCHAR}
                </if>
            </if>
            <if test="remark!=null and  remark !=''">
                <if test="remark!=null">
                    AND remark=#{remark,jdbcType=VARCHAR}
                </if>
            </if>
            <if test="modDate!=null">
                AND mod_date = #{modDate,jdbcType=TIMESTAMP}
            </if>
            <if test="createDate!=null">
                AND create_date = #{createDate,jdbcType=TIMESTAMP}
            </if>
            <if test="userId!=null">
                AND user_id=#{userId,jdbcType=NUMERIC}
            </if>
            <if test="extraCondition!=null and extraCondition!=''">
                AND ( ${extraCondition} )
            </if>
        </trim>
    </delete>

    <insert id="insert">
        <selectKey resultType="java.lang.Long" keyProperty="id"
            order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO KEYPART (
        id,
        building_id,
        management_id,
        keypart_name,
        position,
        floor,
        area,
        fire_equipment,
        another_part,
        duty_num,
        diploma_num,
        fire_pump_num,
        spray_pump_num,
        pressure_pump_num,
        air_tank_volume,
        storage_area,
        oil_volume,
        remark,
        mod_date,
        create_date,
        user_id
        ) VALUES(
        #{id,jdbcType=NUMERIC},
        #{buildingId,jdbcType=NUMERIC},
        #{managementId,jdbcType=NUMERIC},
        #{keypartName,jdbcType=VARCHAR},
        #{position,jdbcType=VARCHAR},
        #{floor,jdbcType=VARCHAR},
        #{area,jdbcType=NUMERIC},
        #{fireEquipment,jdbcType=VARCHAR},
        #{anotherPart,jdbcType=VARCHAR},
        #{dutyNum,jdbcType=NUMERIC},
        #{diplomaNum,jdbcType=NUMERIC},
        #{firePumpNum,jdbcType=NUMERIC},
        #{sprayPumpNum,jdbcType=NUMERIC},
        #{pressurePumpNum,jdbcType=NUMERIC},
        #{airTankVolume,jdbcType=NUMERIC},
        #{storageArea,jdbcType=NUMERIC},
        #{oilVolume,jdbcType=VARCHAR},
        #{remark,jdbcType=VARCHAR},
        #{modDate,jdbcType=TIMESTAMP},
        #{createDate,jdbcType=TIMESTAMP},
        #{userId,jdbcType=NUMERIC}
        )
    </insert>



    <resultMap id="Keypart"
        type="org.fire.platform.modules.building.domain.Keypart">
        <result property="id" column="id" jdbcType="NUMERIC" />
        <result property="buildingId" column="building_id" jdbcType="NUMERIC" />
        <result property="managementId" column="management_id"
            jdbcType="NUMERIC" />
        <result property="keypartName" column="keypart_name" jdbcType="VARCHAR" />
        <result property="position" column="position" jdbcType="VARCHAR" />
        <result property="floor" column="floor" jdbcType="VARCHAR" />
        <result property="area" column="area" jdbcType="NUMERIC" />
        <result property="fireEquipment" column="fire_equipment"
            jdbcType="VARCHAR" />
        <result property="anotherPart" column="another_part"
            jdbcType="VARCHAR"/>
        <result property="dutyNum" column="duty_num" jdbcType="NUMERIC" />
        <result property="diplomaNum" column="diploma_num" jdbcType="NUMERIC" />
        <result property="firePumpNum" column="fire_pump_num" jdbcType="NUMERIC" />
        <result property="sprayPumpNum" column="spray_pump_num"
            jdbcType="NUMERIC" />
        <result property="pressurePumpNum" column="pressure_pump_num"
            jdbcType="NUMERIC" />
        <result property="airTankVolume" column="air_tank_volume"
            jdbcType="NUMERIC" />
        <result property="storageArea" column="storage_area" jdbcType="NUMERIC" />
        <result property="oilVolume" column="oil_volume" jdbcType="VARCHAR" />
        <result property="remark" column="remark" jdbcType="VARCHAR" />
        <result property="modDate" column="mod_date" jdbcType="TIMESTAMP" />
        <result property="createDate" column="create_date" jdbcType="TIMESTAMP" />
        <result property="userId" column="user_id" jdbcType="NUMERIC" />
    </resultMap>

    <sql id="queryCondition">
        <if test="id!=null">
            AND A.id=#{id,jdbcType=NUMERIC}
        </if>
        <if test="buildingId!=null">
            AND A.building_id=#{buildingId,jdbcType=NUMERIC}
        </if>
        <if test="managementId!=null">
            AND A.management_id=#{managementId,jdbcType=NUMERIC}
        </if>
        <if test="keypartName!=null and  keypartName !=''">
            AND keypart_name = #{keypartName,jdbcType=VARCHAR}
        </if>
        <if test="keypartNameLike!=null and  keypartNameLike !=''">
            AND keypart_name LIKE CONCAT(CONCAT('%',
            #{keypartNameLike,jdbcType=VARCHAR}),'%')
        </if>
        <if test="position!=null and  position !=''">
            AND position = #{position,jdbcType=VARCHAR}
        </if>
        <if test="floor!=null and  floor !=''">
            AND floor = #{floor,jdbcType=VARCHAR}
        </if>
        <if test="positionLike!=null and  positionLike !=''">
            AND position LIKE CONCAT(CONCAT('%',
            #{positionLike,jdbcType=VARCHAR}),'%')
        </if>
        <if test="area!=null">
            AND A.area=#{area,jdbcType=NUMERIC}
        </if>
        <if test="fireEquipment!=null and  fireEquipment !=''">
            AND fire_equipment = #{fireEquipment,jdbcType=VARCHAR}
        </if>
        <if test="anotherPart!=null and  anotherPart !=''">
            AND another_part = #{anotherPart,jdbcType=VARCHAR}
        </if>
        <if test="fireEquipmentLike!=null and  fireEquipmentLike !=''">
            AND fire_equipment LIKE CONCAT(CONCAT('%',
            #{fireEquipmentLike,jdbcType=VARCHAR}),'%')
        </if>
        <if test="dutyNum!=null">
            AND A.duty_num=#{dutyNum,jdbcType=NUMERIC}
        </if>
        <if test="diplomaNum!=null">
            AND A.diploma_num=#{diplomaNum,jdbcType=NUMERIC}
        </if>
        <if test="firePumpNum!=null">
            AND A.fire_pump_num=#{firePumpNum,jdbcType=NUMERIC}
        </if>
        <if test="sprayPumpNum!=null">
            AND A.spray_pump_num=#{sprayPumpNum,jdbcType=NUMERIC}
        </if>
        <if test="pressurePumpNum!=null">
            AND A.pressure_pump_num=#{pressurePumpNum,jdbcType=NUMERIC}
        </if>
        <if test="airTankVolume!=null">
            AND A.air_tank_volume=#{airTankVolume,jdbcType=NUMERIC}
        </if>
        <if test="storageArea!=null">
            AND A.storage_area=#{storageArea,jdbcType=NUMERIC}
        </if>
        <if test="oilVolume!=null and  oilVolume !=''">
            AND oil_volume = #{oilVolume,jdbcType=VARCHAR}
        </if>
        <if test="oilVolumeLike!=null and  oilVolumeLike !=''">
            AND oil_volume LIKE CONCAT(CONCAT('%',
            #{oilVolumeLike,jdbcType=VARCHAR}),'%')
        </if>
        <if test="remark!=null and  remark !=''">
            AND remark = #{remark,jdbcType=VARCHAR}
        </if>
        <if test="remarkLike!=null and  remarkLike !=''">
            AND remark LIKE CONCAT(CONCAT('%', #{remarkLike,jdbcType=VARCHAR}),'%')
        </if>
        <if test="modDateRange1!=null">
            AND mod_date &gt; #{modDateRange1,jdbcType=TIMESTAMP}
        </if>
        <if test="modDateRange2!=null">
            AND mod_date &lt; #{modDateRange2,jdbcType=TIMESTAMP}
        </if>
        <if test="modDate!=null">
            AND mod_date = #{modDate,jdbcType=TIMESTAMP}
        </if>
        <if test="createDateRange1!=null">
            AND create_date &gt; #{createDateRange1,jdbcType=TIMESTAMP}
        </if>
        <if test="createDateRange2!=null">
            AND create_date &lt; #{createDateRange2,jdbcType=TIMESTAMP}
        </if>
        <if test="createDate!=null">
            AND create_date = #{createDate,jdbcType=TIMESTAMP}
        </if>
        <if test="userId!=null">
            AND A.user_id=#{userId,jdbcType=NUMERIC}
        </if>
        <if test="extraCondition!=null and extraCondition!=''">
            AND ( ${extraCondition} )
        </if>
    </sql>

</mapper>