<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.fire.platform.modules.report.dao.CheckItemUnqualifiedMapper">
  
  <select id="selectAll" resultMap="CheckItemUnqualified">
      SELECT A.*   FROM CHECK_ITEM_UNQUALIFIED A
      <if test="extraOrderColumns != null and extraOrderColumns !=''">
    		ORDER BY ${extraOrderColumns}
      </if>
  </select> 
  
  <select id="selectByMap" resultMap="CheckItemUnqualified"  parameterType="map"> 
   SELECT A.*   FROM CHECK_ITEM_UNQUALIFIED A
   <where>
      <include refid="queryCondition"/>
   </where>
	<if test="extraOrderColumns != null and extraOrderColumns !=''">
    		ORDER BY ${extraOrderColumns}
    </if>
  </select> 
  
  
  <select id="selectByParam" resultMap="CheckItemUnqualified"  parameterType="org.fire.platform.modules.report.domain.CheckItemUnqualified">
   SELECT A.*   FROM CHECK_ITEM_UNQUALIFIED A
   <where>
      <include refid="queryCondition"/>
   </where>
	<if test="extraOrderColumns != null and extraOrderColumns !=''">
    		ORDER BY ${extraOrderColumns}
    </if>
  </select> 

  <select id="selectByPrimaryKey"  resultMap="CheckItemUnqualified"   parameterType="org.fire.platform.modules.report.domain.CheckItemUnqualified">
   SELECT  A.*  FROM  CHECK_ITEM_UNQUALIFIED A
   WHERE id=#{id,jdbcType=NUMERIC}
  </select>  
  
  <update id="updateByPrimaryKey"> 
   UPDATE CHECK_ITEM_UNQUALIFIED
  <set>  
     <if test="reportId != null">  
            report_id = #{reportId,jdbcType=NUMERIC},
      </if> 
     <if test="itemId != null">
            item_id = #{itemId,jdbcType=NUMERIC},
      </if> 
     <if test="code != null">  
            code = #{code,jdbcType=VARCHAR},
      </if> 
     <if test="position != null">  
            position = #{position,jdbcType=VARCHAR},
      </if> 
   <if test="extraUpdateColumns != null and extraUpdateColumns !=''">
    		${extraUpdateColumns}
   </if>
  </set>  
   WHERE id=#{id,jdbcType=NUMERIC}
  </update>  
  
  <delete id="deleteByPrimaryKey"> 
   DELETE FROM CHECK_ITEM_UNQUALIFIED
     WHERE id=#{id,jdbcType=NUMERIC}
  </delete>  

  <delete id="deleteByParam"> 
   DELETE FROM CHECK_ITEM_UNQUALIFIED  WHERE
   <trim prefixOverrides="AND" > 
  <if test="id!=null">
  		AND id=#{id,jdbcType=NUMERIC}
  </if>
  <if test="reportId!=null">
  		AND report_id=#{reportId,jdbcType=NUMERIC}
  </if>
  <if test="itemId!=null">
  		AND item_id=#{itemId,jdbcType=NUMERIC}
  </if>
  <if test="code!=null and  code !=''">
    <if test="code!=null">
  		AND code=#{code,jdbcType=VARCHAR}
  </if>
  </if>
  <if test="position!=null and  position !=''">
    <if test="position!=null">
  		AND position=#{position,jdbcType=VARCHAR}
  </if>
  </if>
   <if test="extraCondition!=null and extraCondition!=''">
	   AND  ( ${extraCondition} )
	</if> 
   </trim>
  </delete>  
 
  <insert id="insert"> 
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey> 
    INSERT INTO CHECK_ITEM_UNQUALIFIED (
	id,
	report_id,
	item_id,
	code,
	position
	)  VALUES(
	#{id,jdbcType=NUMERIC},
	#{reportId,jdbcType=NUMERIC},
	#{itemId,jdbcType=NUMERIC},
	#{code,jdbcType=VARCHAR},
	#{position,jdbcType=VARCHAR}
    ) 
  </insert>  



  <resultMap  id="CheckItemUnqualified"  type="org.fire.platform.modules.report.domain.CheckItemUnqualified" >
	<result property="id" column="id"  jdbcType="NUMERIC" />
	<result property="reportId" column="report_id"  jdbcType="NUMERIC" />
	<result property="itemId" column="item_id"  jdbcType="NUMERIC" />
	<result property="code" column="code"  jdbcType="VARCHAR" />
	<result property="position" column="position"  jdbcType="VARCHAR" />
  </resultMap>
 
  <sql id="queryCondition">
  <if test="id!=null">
  		AND A.id=#{id,jdbcType=NUMERIC}
  </if>
  <if test="reportId!=null">
  		AND A.report_id=#{reportId,jdbcType=NUMERIC}
  </if>
  <if test="itemId!=null">
  		AND A.item_id=#{itemId,jdbcType=NUMERIC}
  </if>
  <if test="code!=null and  code !=''">
   		AND code = #{code,jdbcType=VARCHAR}
  </if>
  <if test="codeLike!=null and  codeLike !=''">
  		AND code LIKE CONCAT(CONCAT('%', #{codeLike,jdbcType=VARCHAR}),'%')  
  </if>
  <if test="position!=null and  position !=''">
   		AND position = #{position,jdbcType=VARCHAR}
  </if>
  <if test="positionLike!=null and  positionLike !=''">
  		AND position LIKE CONCAT(CONCAT('%', #{positionLike,jdbcType=VARCHAR}),'%')  
  </if>
   <if test="extraCondition!=null and extraCondition!=''">
	   AND  ( ${extraCondition} )
	</if>
    </sql>
    
</mapper>