<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.fire.platform.modules.report.dao.CheckItemResultStatisMapper">
  
  <select id="selectAll" resultMap="CheckItemResultStatis">
      SELECT A.*   FROM CHECK_ITEM_RESULT_STATIS A
      <if test="extraOrderColumns != null and extraOrderColumns !=''">
    		ORDER BY ${extraOrderColumns}
      </if>
  </select> 
  
  <select id="selectByMap" resultMap="CheckItemResultStatis"  parameterType="map"> 
   SELECT A.*   FROM CHECK_ITEM_RESULT_STATIS A
   <where>
      <include refid="queryCondition"/>
   </where>
	<if test="extraOrderColumns != null and extraOrderColumns !=''">
    		ORDER BY ${extraOrderColumns}
    </if>
  </select> 
  
  
  <select id="selectByParam" resultMap="CheckItemResultStatis"  parameterType="org.fire.platform.modules.report.domain.CheckItemResultStatis">
   SELECT A.*   FROM CHECK_ITEM_RESULT_STATIS A
   <where>
      <include refid="queryCondition"/>
   </where>
	<if test="extraOrderColumns != null and extraOrderColumns !=''">
    		ORDER BY ${extraOrderColumns}
    </if>
  </select> 

  <select id="selectByPrimaryKey"  resultMap="CheckItemResultStatis"   parameterType="org.fire.platform.modules.report.domain.CheckItemResultStatis">
   SELECT  A.*  FROM  CHECK_ITEM_RESULT_STATIS A 
   WHERE id=#{id,jdbcType=NUMERIC}
  </select>  
  
  <update id="updateByPrimaryKey"> 
   UPDATE CHECK_ITEM_RESULT_STATIS
  <set>  
     <if test="reportId != null">  
            report_id = #{reportId,jdbcType=NUMERIC},
      </if> 
     <if test="code != null">  
            code = #{code,jdbcType=VARCHAR},
      </if> 
     <if test="level != null">  
            level = #{level,jdbcType=VARCHAR},
      </if> 
     <if test="checkNum != null">  
            check_num = #{checkNum,jdbcType=NUMERIC},
      </if> 
     <if test="unqualifiedNum != null">  
            unqualified_num = #{unqualifiedNum,jdbcType=NUMERIC},
      </if> 
   <if test="extraUpdateColumns != null and extraUpdateColumns !=''">
    		${extraUpdateColumns}
   </if>
  </set>  
   WHERE id=#{id,jdbcType=NUMERIC}
  </update>  
  
  <delete id="deleteByPrimaryKey"> 
   DELETE FROM CHECK_ITEM_RESULT_STATIS
     WHERE id=#{id,jdbcType=NUMERIC}
  </delete>  

  <delete id="deleteByParam"> 
   DELETE FROM CHECK_ITEM_RESULT_STATIS  WHERE 
   <trim prefixOverrides="AND" > 
  <if test="id!=null">
  		AND id=#{id,jdbcType=NUMERIC}
  </if>
  <if test="reportId!=null">
  		AND report_id=#{reportId,jdbcType=NUMERIC}
  </if>
  <if test="code!=null and  code !=''">
    <if test="code!=null">
  		AND code=#{code,jdbcType=VARCHAR}
  </if>
  </if>
  <if test="level!=null and  level !=''">
    <if test="level!=null">
  		AND level=#{level,jdbcType=VARCHAR}
  </if>
  </if>
  <if test="checkNum!=null">
  		AND check_num=#{checkNum,jdbcType=NUMERIC}
  </if>
  <if test="unqualifiedNum!=null">
  		AND unqualified_num=#{unqualifiedNum,jdbcType=NUMERIC}
  </if>
   <if test="extraCondition!=null and extraCondition!=''">
	   AND  ( ${extraCondition} )
	</if> 
   </trim>
  </delete>  
 
  <insert id="insert"> 
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey> 
    INSERT INTO CHECK_ITEM_RESULT_STATIS (
	id,
	report_id,
	code,
	level,
	check_num,
	unqualified_num
	)  VALUES(
	#{id,jdbcType=NUMERIC},
	#{reportId,jdbcType=NUMERIC},
	#{code,jdbcType=VARCHAR},
	#{level,jdbcType=VARCHAR},
	#{checkNum,jdbcType=NUMERIC},
	#{unqualifiedNum,jdbcType=NUMERIC}
    ) 
  </insert>  



  <resultMap  id="CheckItemResultStatis"  type="org.fire.platform.modules.report.domain.CheckItemResultStatis" >
	<result property="id" column="id"  jdbcType="NUMERIC" />
	<result property="reportId" column="report_id"  jdbcType="NUMERIC" />
	<result property="code" column="code"  jdbcType="VARCHAR" />
	<result property="level" column="level"  jdbcType="VARCHAR" />
	<result property="checkNum" column="check_num"  jdbcType="NUMERIC" />
	<result property="unqualifiedNum" column="unqualified_num"  jdbcType="NUMERIC" />
  </resultMap>
 
  <sql id="queryCondition">
  <if test="id!=null">
  		AND A.id=#{id,jdbcType=NUMERIC}
  </if>
  <if test="reportId!=null">
  		AND A.report_id=#{reportId,jdbcType=NUMERIC}
  </if>
  <if test="code!=null and  code !=''">
   		AND code = #{code,jdbcType=VARCHAR}
  </if>
  <if test="codeLike!=null and  codeLike !=''">
  		AND code LIKE CONCAT(CONCAT('%', #{codeLike,jdbcType=VARCHAR}),'%')  
  </if>
  <if test="level!=null and  level !=''">
   		AND level = #{level,jdbcType=VARCHAR}
  </if>
  <if test="levelLike!=null and  levelLike !=''">
  		AND level LIKE CONCAT(CONCAT('%', #{levelLike,jdbcType=VARCHAR}),'%')  
  </if>
  <if test="checkNum!=null">
  		AND A.check_num=#{checkNum,jdbcType=NUMERIC}
  </if>
  <if test="unqualifiedNum!=null">
  		AND A.unqualified_num=#{unqualifiedNum,jdbcType=NUMERIC}
  </if>
   <if test="extraCondition!=null and extraCondition!=''">
	   AND  ( ${extraCondition} )
	</if>
    </sql>
    
</mapper>