<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.fire.platform.modules.report.dao.EquipmentEnrolmentMapper">
  
  <select id="selectAll" resultMap="EquipmentEnrolment">
      SELECT A.*   FROM EQUIPMENT_ENROLMENT A
      <if test="extraOrderColumns != null and extraOrderColumns !=''">
    		ORDER BY ${extraOrderColumns}
      </if>
  </select> 
  
  <select id="selectByMap" resultMap="EquipmentEnrolment"  parameterType="map"> 
   SELECT A.*   FROM EQUIPMENT_ENROLMENT A
   <where>
      <include refid="queryCondition"/>
   </where>
	<if test="extraOrderColumns != null and extraOrderColumns !=''">
    		ORDER BY ${extraOrderColumns}
    </if>
  </select> 
  
  
  <select id="selectByParam" resultMap="EquipmentEnrolment"  parameterType="org.fire.platform.modules.report.domain.EquipmentEnrolment">
   SELECT A.*   FROM EQUIPMENT_ENROLMENT A
   <where>
      <include refid="queryCondition"/>
   </where>
	<if test="extraOrderColumns != null and extraOrderColumns !=''">
    		ORDER BY ${extraOrderColumns}
    </if>
  </select> 

  <select id="selectByPrimaryKey"  resultMap="EquipmentEnrolment"   parameterType="org.fire.platform.modules.report.domain.EquipmentEnrolment">
   SELECT  A.*  FROM  EQUIPMENT_ENROLMENT A 
   WHERE id=#{id,jdbcType=NUMERIC}
  </select>  
  
  <update id="updateByPrimaryKey"> 
   UPDATE EQUIPMENT_ENROLMENT
  <set>  
     <if test="reportId != null">  
            report_id = #{reportId,jdbcType=NUMERIC},
      </if> 
     <if test="code != null">
            type_code = #{code,jdbcType=VARCHAR},
      </if> 
     <if test="name != null">  
            name = #{name,jdbcType=VARCHAR},
      </if> 
     <if test="info != null">  
            info = #{info,jdbcType=VARCHAR},
      </if> 
     <if test="remark != null">  
            remark = #{remark,jdbcType=VARCHAR},
      </if> 
   <if test="extraUpdateColumns != null and extraUpdateColumns !=''">
    		${extraUpdateColumns}
   </if>
  </set>  
   WHERE id=#{id,jdbcType=NUMERIC}
  </update>  
  
  <delete id="deleteByPrimaryKey"> 
   DELETE FROM EQUIPMENT_ENROLMENT
     WHERE id=#{id,jdbcType=NUMERIC}
  </delete>  

  <delete id="deleteByParam"> 
   DELETE FROM EQUIPMENT_ENROLMENT  WHERE 
   <trim prefixOverrides="AND" > 
  <if test="id!=null">
  		AND id=#{id,jdbcType=NUMERIC}
  </if>
  <if test="reportId!=null">
  		AND report_id=#{reportId,jdbcType=NUMERIC}
  </if>
  <if test="typeCode!=null and  typeCode !=''">
  		AND type_code=#{code,jdbcType=VARCHAR}
  </if>
  <if test="name!=null and  name !=''">
  		AND name=#{name,jdbcType=VARCHAR}
  </if>
  <if test="info!=null and  info !=''">
  		AND info=#{info,jdbcType=VARCHAR}
  </if>
  <if test="remark!=null and  remark !=''">
  		AND remark=#{remark,jdbcType=VARCHAR}
  </if>
   <if test="extraCondition!=null and extraCondition!=''">
	   AND  ( ${extraCondition} )
	</if> 
   </trim>
  </delete>  
 
  <insert id="insert"> 
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey> 
    INSERT INTO EQUIPMENT_ENROLMENT (
	id,
	report_id,
	type_code,
	name,
	info,
	remark
	)  VALUES(
	#{id,jdbcType=NUMERIC},
	#{reportId,jdbcType=NUMERIC},
	#{typeCode,jdbcType=VARCHAR},
	#{name,jdbcType=VARCHAR},
	#{info,jdbcType=VARCHAR},
	#{remark,jdbcType=VARCHAR}
    ) 
  </insert>  



  <resultMap  id="EquipmentEnrolment"  type="org.fire.platform.modules.report.domain.EquipmentEnrolment" >
	<result property="id" column="id"  jdbcType="NUMERIC" />
	<result property="reportId" column="report_id"  jdbcType="NUMERIC" />
	<result property="typeCode" column="type_code"  jdbcType="VARCHAR" />
	<result property="name" column="name"  jdbcType="VARCHAR" />
	<result property="info" column="info"  jdbcType="VARCHAR" />
	<result property="remark" column="remark"  jdbcType="VARCHAR" />
  </resultMap>
 
  <sql id="queryCondition">
  <if test="id!=null">
  		AND A.id=#{id,jdbcType=NUMERIC}
  </if>
  <if test="reportId!=null">
  		AND A.report_id=#{reportId,jdbcType=NUMERIC}
  </if>
  <if test="typeCode!=null and  typeCode !=''">
   		AND type_code = #{typeCode,jdbcType=VARCHAR}
  </if>
  <if test="typeCodeLike!=null and  typeCodeLike !=''">
  		AND type_code LIKE CONCAT(CONCAT('%', #{typeCodeLike,jdbcType=VARCHAR}),'%')
  </if>
  <if test="name!=null and  name !=''">
   		AND name = #{name,jdbcType=VARCHAR}
  </if>
  <if test="nameLike!=null and  nameLike !=''">
  		AND name LIKE CONCAT(CONCAT('%', #{nameLike,jdbcType=VARCHAR}),'%')  
  </if>
  <if test="info!=null and  info !=''">
   		AND info = #{info,jdbcType=VARCHAR}
  </if>
  <if test="infoLike!=null and  infoLike !=''">
  		AND info LIKE CONCAT(CONCAT('%', #{infoLike,jdbcType=VARCHAR}),'%')  
  </if>
  <if test="remark!=null and  remark !=''">
   		AND remark = #{remark,jdbcType=VARCHAR}
  </if>
  <if test="remarkLike!=null and  remarkLike !=''">
  		AND remark LIKE CONCAT(CONCAT('%', #{remarkLike,jdbcType=VARCHAR}),'%')  
  </if>
   <if test="extraCondition!=null and extraCondition!=''">
	   AND  ( ${extraCondition} )
	</if>
    </sql>
    
</mapper>