<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.fire.platform.modules.check.dao.CheckItemMapper">
  
  <select id="selectAll" resultMap="CheckItem">
      SELECT A.*   FROM CHECK_ITEM A
      <if test="extraOrderColumns != null and extraOrderColumns !=''">
    		ORDER BY ${extraOrderColumns}
      </if>
  </select> 
  
  <select id="selectByMap" resultMap="CheckItem"  parameterType="map"> 
   SELECT A.*   FROM CHECK_ITEM A
   <where>
      <include refid="queryCondition"/>
   </where>
	<if test="extraOrderColumns != null and extraOrderColumns !=''">
    		ORDER BY ${extraOrderColumns}
    </if>
  </select> 

  <select id="selectByPrimaryKey"  resultMap="CheckItem"   parameterType="org.fire.platform.modules.check.domain.CheckItem"> 
   SELECT  A.*  FROM  CHECK_ITEM A 
   WHERE id=#{id,jdbcType=NUMERIC}
  </select>  
  
  <update id="updateByPrimaryKey"> 
   UPDATE CHECK_ITEM
  <set>  
     <if test="name != null">  
            name = #{name,jdbcType=VARCHAR},
      </if> 
     <if test="classId != null">  
            class_id = #{classId,jdbcType=NUMERIC},
      </if> 
     <if test="checkItemType != null">  
            check_item_type = #{checkItemType,jdbcType=VARCHAR},
      </if> 
     <if test="code != null">  
            code = #{code,jdbcType=VARCHAR},
      </if> 
     <if test="remark != null">  
            remark = #{remark,jdbcType=VARCHAR},
      </if> 
     <if test="state != null">  
            state = #{state,jdbcType=NUMERIC},
      </if> 
     <if test="modUser != null">  
            mod_user = #{modUser,jdbcType=NUMERIC},
      </if> 
     <if test="modDate != null">  
            mod_date = #{modDate,jdbcType=TIMESTAMP},
      </if> 
   <if test="extraUpdateColumns != null and extraUpdateColumns !=''">
    		${extraUpdateColumns}
   </if>
  </set>  
   WHERE id=#{id,jdbcType=NUMERIC}
  </update>  
  
  <delete id="deleteByPrimaryKey"> 
   DELETE FROM CHECK_ITEM
     WHERE id=#{id,jdbcType=NUMERIC}
  </delete>  

  <delete id="deleteByParam"> 
   DELETE FROM CHECK_ITEM  WHERE 
   <trim prefixOverrides="AND" > 
  <if test="id!=null">
  		AND id=#{id,jdbcType=NUMERIC}
  </if>
  <if test="name!=null and  name !=''">
    <if test="name!=null">
  		AND name=#{name,jdbcType=VARCHAR}
  </if>
  </if>
  <if test="classId!=null">
  		AND class_id=#{classId,jdbcType=NUMERIC}
  </if>
  <if test="checkItemType!=null and  checkItemType !=''">
    <if test="checkItemType!=null">
  		AND check_item_type=#{checkItemType,jdbcType=VARCHAR}
  </if>
  </if>
  <if test="code!=null and  code !=''">
    <if test="code!=null">
  		AND code=#{code,jdbcType=VARCHAR}
  </if>
  </if>
  <if test="remark!=null and  remark !=''">
    <if test="remark!=null">
  		AND remark=#{remark,jdbcType=VARCHAR}
  </if>
  </if>
  <if test="state!=null">
  		AND state=#{state,jdbcType=NUMERIC}
  </if>
  <if test="modUser!=null">
  		AND mod_user=#{modUser,jdbcType=NUMERIC}
  </if>
    <if test="modDate!=null">
    		AND mod_date = #{modDate,jdbcType=TIMESTAMP} 
    </if>
   <if test="extraCondition!=null and extraCondition!=''">
	   AND  ( ${extraCondition} )
	</if> 
   </trim>
  </delete>  
 
  <insert id="insert"> 
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey> 
    INSERT INTO CHECK_ITEM (
	id,
	name,
	class_id,
	check_item_type,
	code,
	remark,
	state,
	mod_user,
	mod_date
	)  VALUES(
	#{id,jdbcType=NUMERIC},
	#{name,jdbcType=VARCHAR},
	#{classId,jdbcType=NUMERIC},
	#{checkItemType,jdbcType=VARCHAR},
	#{code,jdbcType=VARCHAR},
	#{remark,jdbcType=VARCHAR},
	#{state,jdbcType=NUMERIC},
	#{modUser,jdbcType=NUMERIC},
	#{modDate,jdbcType=TIMESTAMP}
    ) 
  </insert>  



  <resultMap  id="CheckItem"  type="org.fire.platform.modules.check.domain.CheckItem" >
	<result property="id" column="id"  jdbcType="NUMERIC" />
	<result property="name" column="name"  jdbcType="VARCHAR" />
	<result property="classId" column="class_id"  jdbcType="NUMERIC" />
	<result property="checkItemType" column="check_item_type"  jdbcType="VARCHAR" />
	<result property="code" column="code"  jdbcType="VARCHAR" />
	<result property="remark" column="remark"  jdbcType="VARCHAR" />
	<result property="state" column="state"  jdbcType="NUMERIC" />
	<result property="modUser" column="mod_user"  jdbcType="NUMERIC" />
	<result property="modDate" column="mod_date"  jdbcType="TIMESTAMP" />
  </resultMap>
 
  <sql id="queryCondition">
  <if test="id!=null">
  		AND A.id=#{id,jdbcType=NUMERIC}
  </if>
  <if test="name!=null and  name !=''">
   		AND name = #{name,jdbcType=VARCHAR}
  </if>
  <if test="nameLike!=null and  nameLike !=''">
  		AND name LIKE CONCAT(CONCAT('%', #{nameLike,jdbcType=VARCHAR}),'%')  
  </if>
  <if test="classId!=null">
  		AND A.class_id=#{classId,jdbcType=NUMERIC}
  </if>
  <if test="checkItemType!=null and  checkItemType !=''">
   		AND check_item_type = #{checkItemType,jdbcType=VARCHAR}
  </if>
  <if test="checkItemTypeLike!=null and  checkItemTypeLike !=''">
  		AND check_item_type LIKE CONCAT(CONCAT('%', #{checkItemTypeLike,jdbcType=VARCHAR}),'%')  
  </if>
  <if test="code!=null and  code !=''">
   		AND code = #{code,jdbcType=VARCHAR}
  </if>
  <if test="codeLike!=null and  codeLike !=''">
  		AND code LIKE CONCAT(CONCAT('%', #{codeLike,jdbcType=VARCHAR}),'%')  
  </if>
  <if test="remark!=null and  remark !=''">
   		AND remark = #{remark,jdbcType=VARCHAR}
  </if>
  <if test="remarkLike!=null and  remarkLike !=''">
  		AND remark LIKE CONCAT(CONCAT('%', #{remarkLike,jdbcType=VARCHAR}),'%')  
  </if>
  <if test="state!=null">
  		AND A.state=#{state,jdbcType=NUMERIC}
  </if>
  <if test="modUser!=null">
  		AND A.mod_user=#{modUser,jdbcType=NUMERIC}
  </if>
   <if test="modDateRange1!=null">
    		AND mod_date &gt; #{modDateRange1,jdbcType=TIMESTAMP} 
    </if>
    <if test="modDateRange2!=null">
    		AND mod_date &lt; #{modDateRange2,jdbcType=TIMESTAMP} 
    </if>
    <if test="modDate!=null">
    		AND mod_date = #{modDate,jdbcType=TIMESTAMP} 
    </if>
   <if test="extraCondition!=null and extraCondition!=''">
	   AND  ( ${extraCondition} )
	</if>
    </sql>
    
</mapper>