<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.fire.platform.modules.sys.dao.DictMapper">
  
  <select id="selectAll" resultMap="Dict">
      SELECT A.*   FROM DICT A
      <if test="extraOrderColumns != null and extraOrderColumns !=''">
    		ORDER BY ${extraOrderColumns}
      </if>
  </select> 
  
  <select id="selectByMap" resultMap="Dict"  parameterType="map"> 
   SELECT A.*   FROM DICT A
   <where>
      <include refid="queryCondition"/>
   </where>
	<if test="extraOrderColumns != null and extraOrderColumns !=''">
    		ORDER BY ${extraOrderColumns}
    </if>
  </select> 

  <select id="selectByPrimaryKey"  resultMap="Dict"   parameterType="org.fire.platform.modules.sys.domain.Dict"> 
   SELECT  A.*  FROM  DICT A 
   WHERE id=#{id,jdbcType=NUMERIC}
  </select>  
  
  <update id="updateByPrimaryKey"> 
   UPDATE DICT
  <set>  
     <if test="name != null">  
            name = #{name,jdbcType=VARCHAR},
      </if> 
     <if test="code != null">  
            code = #{code,jdbcType=VARCHAR},
      </if> 
     <if test="typeCode != null">  
            type_code = #{typeCode,jdbcType=VARCHAR},
      </if> 
     <if test="state != null">  
            state = #{state,jdbcType=NUMERIC},
      </if> 
   <if test="extraUpdateColumns != null and extraUpdateColumns !=''">
    		${extraUpdateColumns}
   </if>
  </set>  
   WHERE id=#{id,jdbcType=NUMERIC}
  </update>  
  
  <delete id="deleteByPrimaryKey"> 
   DELETE FROM DICT
     WHERE id=#{id,jdbcType=NUMERIC}
  </delete>  

  <delete id="deleteByParam"> 
   DELETE FROM DICT  WHERE 
   <trim prefixOverrides="AND" > 
  <if test="id!=null">
  		AND id=#{id,jdbcType=NUMERIC}
  </if>
  <if test="name!=null and  name !=''">
    <if test="name!=null">
  		AND name=#{name,jdbcType=VARCHAR}
  </if>
  </if>
  <if test="code!=null and  code !=''">
    <if test="code!=null">
  		AND code=#{code,jdbcType=VARCHAR}
  </if>
  </if>
  <if test="typeCode!=null and  typeCode !=''">
    <if test="typeCode!=null">
  		AND type_code=#{typeCode,jdbcType=VARCHAR}
  </if>
  </if>
  <if test="state!=null">
  		AND state=#{state,jdbcType=NUMERIC}
  </if>
   <if test="extraCondition!=null and extraCondition!=''">
	   AND  ( ${extraCondition} )
	</if> 
   </trim>
  </delete>  
 
  <insert id="insert"> 
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey> 
    INSERT INTO DICT (
	id,
	name,
	code,
	type_code,
	state
	)  VALUES(
	#{id,jdbcType=NUMERIC},
	#{name,jdbcType=VARCHAR},
	#{code,jdbcType=VARCHAR},
	#{typeCode,jdbcType=VARCHAR},
	#{state,jdbcType=NUMERIC}
    ) 
  </insert>  



  <resultMap  id="Dict"  type="org.fire.platform.modules.sys.domain.Dict" >
	<result property="id" column="id"  jdbcType="NUMERIC" />
	<result property="name" column="name"  jdbcType="VARCHAR" />
	<result property="code" column="code"  jdbcType="VARCHAR" />
	<result property="typeCode" column="type_code"  jdbcType="VARCHAR" />
	<result property="state" column="state"  jdbcType="NUMERIC" />
  </resultMap>
 
  <sql id="queryCondition">
  <if test="id!=null">
  		AND A.id=#{id,jdbcType=NUMERIC}
  </if>
  <if test="name!=null and  name !=''">
   		AND name = #{name,jdbcType=VARCHAR}
  </if>
  <if test="nameLike!=null and  nameLike !=''">
  		AND name LIKE CONCAT(CONCAT('%', #{nameLike,jdbcType=VARCHAR}),'%')  
  </if>
  <if test="code!=null and  code !=''">
   		AND code = #{code,jdbcType=VARCHAR}
  </if>
  <if test="codeLike!=null and  codeLike !=''">
  		AND code LIKE CONCAT(CONCAT('%', #{codeLike,jdbcType=VARCHAR}),'%')  
  </if>
  <if test="typeCode!=null and  typeCode !=''">
   		AND type_code = #{typeCode,jdbcType=VARCHAR}
  </if>
  <if test="typeCodeLike!=null and  typeCodeLike !=''">
  		AND type_code LIKE CONCAT(CONCAT('%', #{typeCodeLike,jdbcType=VARCHAR}),'%')  
  </if>
  <if test="state!=null">
  		AND A.state=#{state,jdbcType=NUMERIC}
  </if>
   <if test="extraCondition!=null and extraCondition!=''">
	   AND  ( ${extraCondition} )
	</if>
    </sql>
    
</mapper>