<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.fire.platform.modules.sys.dao.UserMapper">
  
  <select id="selectAll" resultMap="User">
      SELECT A.*   FROM USER A
      <if test="extraOrderColumns != null and extraOrderColumns !=''">
    		ORDER BY ${extraOrderColumns}
      </if>
  </select> 
  
  <select id="selectByMap" resultMap="User"  parameterType="map"> 
   SELECT A.*   FROM USER A
   <where>
      <include refid="queryCondition"/>
   </where>
	<if test="extraOrderColumns != null and extraOrderColumns !=''">
    		ORDER BY ${extraOrderColumns}
    </if>
  </select> 

  <select id="selectByPrimaryKey"  resultMap="User"   parameterType="org.fire.platform.modules.sys.domain.User"> 
   SELECT  A.*  FROM  USER A 
   WHERE uid=#{uid,jdbcType=NUMERIC}
  </select>  
  
  <update id="updateByPrimaryKey"> 
   UPDATE USER
  <set>  
     <if test="username != null">  
            username = #{username,jdbcType=VARCHAR},
      </if> 
     <if test="password != null">  
            PASSWORD = #{password,jdbcType=VARCHAR},
      </if> 
     <if test="deptId != null">  
            dept_id = #{deptId,jdbcType=NUMERIC},
      </if> 
     <if test="realName != null">  
            real_name = #{realName,jdbcType=VARCHAR},
      </if> 
     <if test="gender != null">  
            gender = #{gender,jdbcType=NUMERIC},
      </if> 
     <if test="mobile != null">  
            mobile = #{mobile,jdbcType=VARCHAR},
      </if> 
     <if test="email != null">  
            email = #{email,jdbcType=VARCHAR},
      </if> 
     <if test="job != null">  
            job = #{job,jdbcType=VARCHAR},
      </if> 
     <if test="roleId != null">  
            role_id = #{roleId,jdbcType=NUMERIC},
      </if> 
     <if test="state != null">  
            state = #{state,jdbcType=NUMERIC},
      </if> 
     <if test="lastLoginTime != null">  
            last_login_time = #{lastLoginTime,jdbcType=TIMESTAMP},
      </if> 
     <if test="token != null">  
            token = #{token,jdbcType=VARCHAR},
      </if> 
     <if test="loginType != null">  
            login_type = #{loginType,jdbcType=NUMERIC},
      </if> 
     <if test="modUser != null">  
            mod_user = #{modUser,jdbcType=NUMERIC},
      </if> 
     <if test="modDate != null">  
            mod_date = #{modDate,jdbcType=TIMESTAMP},
      </if> 
     <if test="remark != null">  
            remark = #{remark,jdbcType=VARCHAR},
      </if> 
     <if test="imeiNum != null">  
            IMEI_Num = #{imeiNum,jdbcType=VARCHAR},
      </if> 
     <if test="districtId != null">  
            district_id = #{districtId,jdbcType=NUMERIC},
      </if> 
   <if test="extraUpdateColumns != null and extraUpdateColumns !=''">
    		${extraUpdateColumns}
   </if>
  </set>  
   WHERE uid=#{uid,jdbcType=NUMERIC}
  </update>  
  
  <delete id="deleteByPrimaryKey"> 
   DELETE FROM USER
     WHERE uid=#{uid,jdbcType=NUMERIC}
  </delete>  

  <delete id="deleteByParam"> 
   DELETE FROM USER  WHERE 
   <trim prefixOverrides="AND" > 
  <if test="uid!=null">
  		AND uid=#{uid,jdbcType=NUMERIC}
  </if>
  <if test="username!=null and  username !=''">
    <if test="username!=null">
  		AND username=#{username,jdbcType=VARCHAR}
  </if>
  </if>
  <if test="password!=null and  password !=''">
    <if test="password!=null">
  		AND PASSWORD=#{password,jdbcType=VARCHAR}
  </if>
  </if>
  <if test="deptId!=null">
  		AND dept_id=#{deptId,jdbcType=NUMERIC}
  </if>
  <if test="realName!=null and  realName !=''">
    <if test="realName!=null">
  		AND real_name=#{realName,jdbcType=VARCHAR}
  </if>
  </if>
  <if test="gender!=null">
  		AND gender=#{gender,jdbcType=NUMERIC}
  </if>
  <if test="mobile!=null and  mobile !=''">
    <if test="mobile!=null">
  		AND mobile=#{mobile,jdbcType=VARCHAR}
  </if>
  </if>
  <if test="email!=null and  email !=''">
    <if test="email!=null">
  		AND email=#{email,jdbcType=VARCHAR}
  </if>
  </if>
  <if test="job!=null and  job !=''">
    <if test="job!=null">
  		AND job=#{job,jdbcType=VARCHAR}
  </if>
  </if>
  <if test="roleId!=null">
  		AND role_id=#{roleId,jdbcType=NUMERIC}
  </if>
  <if test="state!=null">
  		AND state=#{state,jdbcType=NUMERIC}
  </if>
    <if test="lastLoginTime!=null">
    		AND last_login_time = #{lastLoginTime,jdbcType=TIMESTAMP} 
    </if>
  <if test="token!=null and  token !=''">
    <if test="token!=null">
  		AND token=#{token,jdbcType=VARCHAR}
  </if>
  </if>
  <if test="loginType!=null">
  		AND login_type=#{loginType,jdbcType=NUMERIC}
  </if>
  <if test="modUser!=null">
  		AND mod_user=#{modUser,jdbcType=NUMERIC}
  </if>
    <if test="modDate!=null">
    		AND mod_date = #{modDate,jdbcType=TIMESTAMP} 
    </if>
  <if test="remark!=null and  remark !=''">
    <if test="remark!=null">
  		AND remark=#{remark,jdbcType=VARCHAR}
  </if>
  </if>
  <if test="imeiNum!=null and  imeiNum !=''">
    <if test="imeiNum!=null">
  		AND IMEI_Num=#{imeiNum,jdbcType=VARCHAR}
  </if>
  </if>
  <if test="districtId!=null">
  		AND district_id=#{districtId,jdbcType=NUMERIC}
  </if>
   <if test="extraCondition!=null and extraCondition!=''">
	   AND  ( ${extraCondition} )
	</if> 
   </trim>
  </delete>  
 
  <insert id="insert"> 
    <selectKey resultType="java.lang.Long" keyProperty="uid" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey> 
    INSERT INTO USER (
	uid,
	username,
	PASSWORD,
	dept_id,
	real_name,
	gender,
	mobile,
	email,
	job,
	role_id,
	state,
	last_login_time,
	token,
	login_type,
	mod_user,
	mod_date,
	remark,
	IMEI_Num,
	district_id
	)  VALUES(
	#{uid,jdbcType=NUMERIC},
	#{username,jdbcType=VARCHAR},
	#{password,jdbcType=VARCHAR},
	#{deptId,jdbcType=NUMERIC},
	#{realName,jdbcType=VARCHAR},
	#{gender,jdbcType=NUMERIC},
	#{mobile,jdbcType=VARCHAR},
	#{email,jdbcType=VARCHAR},
	#{job,jdbcType=VARCHAR},
	#{roleId,jdbcType=NUMERIC},
	#{state,jdbcType=NUMERIC},
	#{lastLoginTime,jdbcType=TIMESTAMP},
	#{token,jdbcType=VARCHAR},
	#{loginType,jdbcType=NUMERIC},
	#{modUser,jdbcType=NUMERIC},
	#{modDate,jdbcType=TIMESTAMP},
	#{remark,jdbcType=VARCHAR},
	#{imeiNum,jdbcType=VARCHAR},
	#{districtId,jdbcType=NUMERIC}
    ) 
  </insert>  



  <resultMap  id="User"  type="org.fire.platform.modules.sys.domain.User" >
	<result property="uid" column="uid"  jdbcType="NUMERIC" />
	<result property="username" column="username"  jdbcType="VARCHAR" />
	<result property="password" column="PASSWORD"  jdbcType="VARCHAR" />
	<result property="deptId" column="dept_id"  jdbcType="NUMERIC" />
	<result property="realName" column="real_name"  jdbcType="VARCHAR" />
	<result property="gender" column="gender"  jdbcType="NUMERIC" />
	<result property="mobile" column="mobile"  jdbcType="VARCHAR" />
	<result property="email" column="email"  jdbcType="VARCHAR" />
	<result property="job" column="job"  jdbcType="VARCHAR" />
	<result property="roleId" column="role_id"  jdbcType="NUMERIC" />
	<result property="state" column="state"  jdbcType="NUMERIC" />
	<result property="lastLoginTime" column="last_login_time"  jdbcType="TIMESTAMP" />
	<result property="token" column="token"  jdbcType="VARCHAR" />
	<result property="loginType" column="login_type"  jdbcType="NUMERIC" />
	<result property="modUser" column="mod_user"  jdbcType="NUMERIC" />
	<result property="modDate" column="mod_date"  jdbcType="TIMESTAMP" />
	<result property="remark" column="remark"  jdbcType="VARCHAR" />
	<result property="imeiNum" column="IMEI_Num"  jdbcType="VARCHAR" />
	<result property="districtId" column="district_id"  jdbcType="NUMERIC" />
  </resultMap>
 
  <sql id="queryCondition">
  <if test="uid!=null">
  		AND A.uid=#{uid,jdbcType=NUMERIC}
  </if>
  <if test="username!=null and  username !=''">
   		AND username = #{username,jdbcType=VARCHAR}
  </if>
  <if test="usernameLike!=null and  usernameLike !=''">
  		AND username LIKE CONCAT(CONCAT('%', #{usernameLike,jdbcType=VARCHAR}),'%')  
  </if>
  <if test="password!=null and  password !=''">
   		AND PASSWORD = #{password,jdbcType=VARCHAR}
  </if>
  <if test="passwordLike!=null and  passwordLike !=''">
  		AND PASSWORD LIKE CONCAT(CONCAT('%', #{passwordLike,jdbcType=VARCHAR}),'%')  
  </if>
  <if test="deptId!=null">
  		AND A.dept_id=#{deptId,jdbcType=NUMERIC}
  </if>
  <if test="realName!=null and  realName !=''">
   		AND real_name = #{realName,jdbcType=VARCHAR}
  </if>
  <if test="realNameLike!=null and  realNameLike !=''">
  		AND real_name LIKE CONCAT(CONCAT('%', #{realNameLike,jdbcType=VARCHAR}),'%')  
  </if>
  <if test="gender!=null">
  		AND A.gender=#{gender,jdbcType=NUMERIC}
  </if>
  <if test="mobile!=null and  mobile !=''">
   		AND mobile = #{mobile,jdbcType=VARCHAR}
  </if>
  <if test="mobileLike!=null and  mobileLike !=''">
  		AND mobile LIKE CONCAT(CONCAT('%', #{mobileLike,jdbcType=VARCHAR}),'%')  
  </if>
  <if test="email!=null and  email !=''">
   		AND email = #{email,jdbcType=VARCHAR}
  </if>
  <if test="emailLike!=null and  emailLike !=''">
  		AND email LIKE CONCAT(CONCAT('%', #{emailLike,jdbcType=VARCHAR}),'%')  
  </if>
  <if test="job!=null and  job !=''">
   		AND job = #{job,jdbcType=VARCHAR}
  </if>
  <if test="jobLike!=null and  jobLike !=''">
  		AND job LIKE CONCAT(CONCAT('%', #{jobLike,jdbcType=VARCHAR}),'%')  
  </if>
  <if test="roleId!=null">
  		AND A.role_id=#{roleId,jdbcType=NUMERIC}
  </if>
  <if test="state!=null">
  		AND A.state=#{state,jdbcType=NUMERIC}
  </if>
   <if test="lastLoginTimeRange1!=null">
    		AND last_login_time &gt; #{lastLoginTimeRange1,jdbcType=TIMESTAMP} 
    </if>
    <if test="lastLoginTimeRange2!=null">
    		AND last_login_time &lt; #{lastLoginTimeRange2,jdbcType=TIMESTAMP} 
    </if>
    <if test="lastLoginTime!=null">
    		AND last_login_time = #{lastLoginTime,jdbcType=TIMESTAMP} 
    </if>
  <if test="token!=null and  token !=''">
   		AND token = #{token,jdbcType=VARCHAR}
  </if>
  <if test="tokenLike!=null and  tokenLike !=''">
  		AND token LIKE CONCAT(CONCAT('%', #{tokenLike,jdbcType=VARCHAR}),'%')  
  </if>
  <if test="loginType!=null">
  		AND A.login_type=#{loginType,jdbcType=NUMERIC}
  </if>
  <if test="modUser!=null">
  		AND A.mod_user=#{modUser,jdbcType=NUMERIC}
  </if>
   <if test="modDateRange1!=null">
    		AND mod_date &gt; #{modDateRange1,jdbcType=TIMESTAMP} 
    </if>
    <if test="modDateRange2!=null">
    		AND mod_date &lt; #{modDateRange2,jdbcType=TIMESTAMP} 
    </if>
    <if test="modDate!=null">
    		AND mod_date = #{modDate,jdbcType=TIMESTAMP} 
    </if>
  <if test="remark!=null and  remark !=''">
   		AND remark = #{remark,jdbcType=VARCHAR}
  </if>
  <if test="remarkLike!=null and  remarkLike !=''">
  		AND remark LIKE CONCAT(CONCAT('%', #{remarkLike,jdbcType=VARCHAR}),'%')  
  </if>
  <if test="imeiNum!=null and  imeiNum !=''">
   		AND IMEI_Num = #{imeiNum,jdbcType=VARCHAR}
  </if>
  <if test="imeiNumLike!=null and  imeiNumLike !=''">
  		AND IMEI_Num LIKE CONCAT(CONCAT('%', #{imeiNumLike,jdbcType=VARCHAR}),'%')  
  </if>
  <if test="districtId!=null">
  		AND A.district_id=#{districtId,jdbcType=NUMERIC}
  </if>
   <if test="extraCondition!=null and extraCondition!=''">
	   AND  ( ${extraCondition} )
	</if>
    </sql>
    
</mapper>